<html>
<body background="mario.jpg">
<h1> Welcome to the world of Terraform & Ansible.! </h1>
<h2> Welcome to Host: {{ansible_fqdn}}</h2>
<h2> Hostname       : {{ansible_hostname}}</h2>
<h2> OS Family      : {{ansible_os_family}}</h2>
<h2> IP Address     : {{ansible_all_ipv4_addresses}}</h2>
</html>
